
body {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

h1{
	color: #fff;
	text-align: center;
	margin: 0px;
	padding: 20px;
	font-size: 3em;
}

ul{
	padding: 0px;
	margin: 0px;
}

header{
	height: 150px;
	width: 100%;
	background-color: #000
}

footer{
	height: 100px;
	width: 100%;
	background-color: #000
}

.thumbnail{
	display: grid;
	width: 100%;
	background-color: #000;
	margin-bottom: 80px;
	padding: 50px 0px;
	
}

.thumbnail a {
	color: #fff;
	text-decoration: none;
	font-size: 2em;
	text-align: center;
}

.main{
	width: 70%;
	background-color : #9e9e9e;
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding: 100px 0px;	
}

nav{
	background-color: #000;
	position: sticky;
	top: 0px;
	width: 100%;
	padding: 10px;
}

nav ul {
	text-align: center;
}

nav ul li {
	display: inline-block;
	padding: 10px 20px;
	border-radius: 10px;
	background-color: #000;
	justify-content: space-between;
}

nav ul li :hover {
	padding: 10px 20px;
	border-radius: 10px;
	background-color: #fff;
	color: #000;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 1em;
}